API_URL=https://api.themoviedb.org/3
API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMGVhMDZhZjVhMTcxMDJlOWU0MWFlZmVhZDM4Y2I2MSIsInN1YiI6IjY0ZmVkODZlZWZlYTdhMDBjMzk1ZjA3NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vdFZ1g1Oli8Fv1qizJeUCNRreq9iuu7_6QRkBNySfH0

NEXT_PUBLIC_IMAGE_URL=https://image.tmdb.org/t/p/original
