@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  html {
    @apply text-neutral-700 scroll-smooth;
  }
  body {
    @apply bg-neutral-100;
  }
}

.container {
  @apply relative lg:w-[64rem] mx-auto box-border;
}

main::before {
  @apply fixed z-20 top-0 left-0 w-screen bg-gradient-to-b from-black h-32 opacity-80;
  content: '';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
